__pycache__/
*.pyc
*.pyo
.DS_Store
/sessions/
/school_accounts/
/logs/
/.history/
/system_accounts
/tokens
/config.ini
/permissions.json
/background_tasks/
messages.json
/.vscode
/zs_campus_run_helper_venv
